# datasets
dataset/
datasets/
*.zip
*.tar
*.gz

# weights
*.pt
*.pth
weights/

# training outputs
runs/
results/
exp/
*.cache

# logs
nohup.out
*.out
*.log

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# env
.env
venv/
.venv/
